
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=League+Spartan:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", serif;
  font-style: normal
}


.header {
  position: fixed;
 top: 0;
  background-color: #0ea5e9;
  width: 100%;
  height: 4rem; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.25rem; 
}

.linksContainer {
  display: flex;
  align-items: center;
  gap: 1.25rem; 
}

.logo {
  border-radius: 9999px; 
  background-color: #0ea5e9; 
}

.link {
  font-size: 0.80rem; 
  color: white;
  font-weight: 700;
  text-decoration: none;
}



.icon {
  width: 2rem; 
  height: 2rem; 
  color: #302797; 
  margin-right: 1rem; 
}

.question-container {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
  gap: 2rem;
}
.question-title {
  font-size: 3.1rem;
  font-weight: 500;

}

.question-search {
  width: 80%;
  max-width: 550px;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 7px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.question-search:focus {
  border-color: #555;
  outline: none;
}

.question-filter {
  display: flex;
  gap: 1.4rem;
  align-items: center;
  font-size: 0.9rem;
  color: #474747;
  font-weight: 600;
}
.flex{
  display: flex;
  gap: 27px;
}
.filter-button {
  display: flex;
  gap: 3px;
  align-items: center;
  border: none;
  background-color: white;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: 600;
  color: #474747;
}

.icon-filter {
  width: 16px;
  height: 16px;
  color: #474747;
}


.question-item {
  width: 100%;
  justify-content: center;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.question-data{
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 90%;
  max-width: 800px;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.question-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: inherit;
}

.item-title {
  font-size: 1rem;
 font-weight: 600;
  margin-bottom: 7px;
}

.item-description {
  font-size: 0.9rem;
  color: #555;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 200px;
  font-weight: 500;
}

.item-date {
  font-size: 0.9rem;
  color: #777;
}


.question-data:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


.delete-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 75px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.delete-button:hover {
  transform: scale(1.1);
}

.icon-delete-btn {
width:20px ;
height: 20px;
}


.loading-text,
.error-text {
  font-size: 1rem;
  color: #777;
  font-weight: 600;
  text-align: center;
}

.error-text {
  color: #d32f2f;
} 


.container{
  display: flex;
  flex-direction: column;
}
.content {
min-height: 70vh;
}
.footer-container {
  width: 100%;
  height: 10rem; 
  background-color: #0284c7; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4.75rem;
  gap: 0.75rem; 

}

.footer-text {
  color: #ffffff; 
  font-size: 1.125rem; 
  font-weight: 500; 
}

.footer-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.footer-icon {
  color: #ffffff;
  width: 1.5rem; 
  height: 1.5rem;
}




.page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6rem 0;
}

.main-content {
  width: 66%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.question-header {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  border-bottom: 1px solid #d4d4d4;
}

.question-title {
  font-size: 2.5rem;
  font-weight: 450;
  margin-bottom: 20px;
}

.question-text {
  margin-bottom: 0.75rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #27272a;
}


.answers-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.answers-title {
  font-size: 1.5rem;
  font-weight:450;
}
.answer-item{
border: 2px solid rgb(235, 235, 235);
display: flex;
justify-content: space-between;
padding: 35px 25px;
border-radius: 7px;
align-items: center;
}
.answer_input{
  font-size: medium;
  font-weight: 400;
width: 90%;
height: 130px;
padding: 0 20px;
border-radius: 7px;
border: 2px solid rgb(235, 235, 235);
}
.answer_input:focus {
  border: 2px solid rgb(180, 180, 180) !important;
  outline: none !important;
}
.answer_input:hover {
  border: 2px solid rgb(180, 180, 180) !important;
  outline: none !important;
}
.icon-delete-answer-btn {
  width:20px ;
  height: 20px;
  color: rgb(107, 107, 107) ;
  }
  .icon-delete-answer-btn:hover{
    color: #d32f2f;
  }

.answer-input {
  width: 100%;
  background-color: #f5f5f5;
  height: 6rem;
  padding: 0.75rem;
  border: none;
  border-bottom: 4px solid #0284c7;
  border-radius: 0.375rem;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.answer-input:focus {
  border-color: #0369a1;
  outline: none;
}

.submit-button {
  width: 100%;
  height: 2.3rem;
  background-color: #0284c7;
  color: white;
  font-size: 0.875rem;
  font-weight: 500;
  border: none;
  border-radius: 0.375rem;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0369a1;
}


@media (max-width: 768px) {
  .main-content {
    width: 90%;
  }

  .question-title {
    font-size: 2rem;
  }

  .answers-title {
    font-size: 1.25rem;
  }
}

.container-home{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  gap: 100px;
 
}
.box1{
  display: flex;
  gap: 70px;
  flex-wrap: wrap;

}
@media (max-width: 850px) {
  .box1{
    display: flex;
    flex-direction: column;
    justify-content: center;
  
  }
  .img-home{
    width: 300px;
  }
  .box2{
   width: 250px;
  }

}
@media (min-width: 850px) {

  .des-box{
    width: 500px;
 
  }
}
.box2{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.des-box{
  font-size: medium;
  font-weight: 500;
  color: #575757;
}
.title-home{
  font-size: 17px;
  font-weight: 500;
  color: #353535;
}
.h1-box1{
font-size: 40px;
}

.btn-box{
  text-decoration: none;
  background-color: #0284c7;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
  color: white;
  font-size: small;
  font-weight: 500;
  margin-top: 20px;
}

.box2-home{
  display: flex;
  flex-direction: column;
justify-content: center;
gap: 30px;
width: 70%;

}
.h1-box2{
  font-size: 40px;
  font-weight: 450;
  text-align: center;
}
.form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.submit-button-qestions {
  width: 100%;
  height: 2.3rem;
  background-color: #0284c7;
  color: white;
  font-size: 0.875rem;
  font-weight: 500;
  border: none;
  border-radius: 0.3rem;
  transition: background-color 0.3s ease;
}
.err{
  font-size: larger;
  color: #d32f2f;
  text-align: center;
  font-weight: 500;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);  
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  width: 90%;
  max-width: 500px;
  background-color: #ffffff; 
  border-radius: 8px; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
  padding: 1.5rem; 
  position: relative;
  animation: fadeIn 0.3s ease-out; 
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: larger;
  font-weight: 500;
}
.btn-modal{
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.about{
  height: 100%;
  display: flex;
  margin-top: 200px;
justify-content: center;

}
.about-box{
width: 70%;
display: flex;
flex-direction: column;
gap: 20px;
}
.p-about{
font-size: 15px;
line-height: 20px;
font-weight: 500;
color: #303030;
}
.h1-about{
  font-size: 50px;
}